.job-description ul{
    list-style-position: inside;
}
.job-description ul li {
    margin-bottom: .25em;
}

.job-description ul li,
.job-description p{
    font-size: .90em;
}

.job-location h5 {
    margin: 1em 0;
}

@media screen and (min-width: 1064px) {
    .job-location {
        display: flex;
        justify-content: space-between;
        margin-bottom: .75em;
    }
}